.hero{
    padding-right: 150px;
}

.text-white {
    margin-top: 250px;
    border-radius: 25px;
}
.alma{
    background-image: url("../img/panaderia.pg.jpeg");
    height: 80vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 150px;
}
.alma h2{
    color: white;
    background-color: rgba(153, 16, 16, 0.616);
    padding-inline: 10px;
}
.alma p{
    color: wheat;
    background-color: rgba(195, 65, 26, 0.668);
    text-align: center;
}
.card{
 display: block;
}
.boton{
    font-size: 1rem;
    background-color: rgb(183, 14, 14);
    padding: 0.50rem;
    color: white;
    text-align: center;
}

.grid{
    padding: 100px;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "hola  mundo"
    "nonu  papa";
}
.mudo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hola{
    background-color: gray;
    grid-area: hola;
}
.mundo{
    background-color: gainsboro;
    grid-area: mundo;
}
.nonu{
    background-color: gainsboro;
    grid-area: nonu;
}
.papa{
    background-color: gray;
    grid-area: papa;
}

@media (max-width: 1000px){
    .hola{
    background-color: pink;
 }
 .papa{ background-color: pink;}
 .grid{
    grid-template-areas: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "hola"
    "mundo"
    "nonu"
    "papa";
 }
}

