.hero{
    padding-right: 150px;
}

.text-white {
    margin-top: 250px;
    border-radius: 25px;
}
.rosa{
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}

.card{
    border: 2px solid red;
    margin-top: 10px;
    padding: 6px;
    position: relative;
    left: 65px;
}
.card{
    display: block;
   }
   .boton{
       font-size: 1rem;
       background-color: rgb(183, 14, 14);
       padding: 0.50rem;
       color: white;
       text-align: center;
   }